
.svn
bin
obj
*.suo
Tomboy.pidb
Tomboy/Addins/EncryptedFileSystemSyncService/EncryptedFileSystemSyncService.pidb
Tomboy/Addins/TestProject/TestProject.pidb
Tomboy/Addins/PrivateNotesAddin/PrivateNotes.pidb
Backup/